table {

  width: 100vh;
  align-items: center;
  margin: 0 auto;
  border: solid;
  border-color: darkcyan;
  border-width: 1px;

  font-weight: bold;
}

tr {

  color: black;
  height: 22px;
  border-width: 1px;
  border: solid;

  border-collapse: collapse;
  border-bottom-color: black;
  text-align: start;
  border-spacing: 0em 1em;
}



th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}
