.label {
  color:blueviolet;
  width: 15%;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  
  
}

.userR{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 55px;
    height: 75%;
}

.inputcls {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  width: 20%;
  align-items: center;
  padding-top: 10px;
  
 
}



h1 {
  color: royalblue
}

.submit {
  background-color: cornflowerblue;
  color: white;
  width: 25%;
  font-size: 15px;
  height: 55%;
 
}
